.Nav
{
    height: 100px;
}

.Container
{
    padding: 0 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.Container h1
{
    text-transform: uppercase;
}

.Container img
{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;

}

.Social
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Social svg
{
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.Social svg:hover
{
    stroke: #F216E4;
    transition: 0.3s ease-in-out;
    color: #F216E4;
}